.table, .table thead, .table tbody{
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td{
    text-align: left; white-space: nowrap;
    padding: 4px;
}

.table tbody tr:nth-of-type(odd){
    background-color: #ddd;
}

.table-responsive{
    overflow-x: auto;
}

ul.pagination {
    display: block;
}

ul.pagination li{
    display: inline-block; 
    width: 100px;
}
ul.pagination li a.page-link, ul.pagination li a.page-link{
    display: block;
}

body {
color: #787878;
font: 12px Arial;
margin: auto;
max-width: 640px;
border: 1px solid #e8e8e8;
}

a:link, a:active, a:visited {
color: #0c9dd1;
text-decoration: none;
}

a:hover, a:focus {
color: #ff1919;
text-decoration: underline;
}

input, textarea, select {
color: #6d6d6d;
background: #f8feff;
margin: 1px;
border: 1px solid #c2e3ec;
}

input[type='submit'] {
background: #5088b0 url(images/footer.gif) repeat-x 50% top;
padding: 2px;
color: #fbfbfb;
border: 1px solid #0c9dd1;
}

form {
margin: 0px;
padding: 0px;
}

h1, h2, h3 {
margin: 0;
padding: 0;
}

h1 {
font: 12px Tahoma, Geneva, Kalimati, sans-serif;
font-weight: bold;
font-style: italic;
}

h2 {
font: 12px Arial;
font-weight: bold;
}

h3 {
font: 12px Tahoma;
font-weight: normal;
}

/* Header */
.header {
color: #2e473b;
text-shadow: #9d9d9d 1px 1px 1px;
background: #bfbfbf url(images/header.gif) repeat-x 50% top;
margin: 1px;
padding: 2px;
border: 1px 1px 1px 1px solid #c9c9c9;
}

.header span {
padding: 4px;
border-right: 1px solid #c9c9c9;
}

.header a {
color: #ff0000;
border-bottom: 1px dotted #ececec;
}

.main {
background: #e4f4fd repeat-x 50% top;
margin: 1px;
padding: 2px;
border: 1px solid #91d8ec;
}

/* Footer */
.footer {
color: #fbfbfb;
background: #5088b0 url(images/footer.gif) repeat-x 50% top;
margin: 1px;
padding: 2px;
border: 1px solid #0c9dd1;
}

.footer a {
color: #fff;
border-bottom: 1px dotted #7ad4f0;
}

/* Menu */
.title {
background: #ededed url(images/title.gif) repeat-x 50% top;
margin: 1px;
padding: 2px;
border: solid 1px #d9d9d9;
}

.menu {
color: #696969;
background: url(images/menu.gif) repeat-x 50% top;
margin: 1px;
padding: 2px;
border: solid 1px #d9d9d9;
}

.menu span {
color: #808080;
}

.status {
color: #ed8400;
background: #fff0dd repeat-x 50% top;
margin: 1px;
padding: 2px;
border: 1px solid #ffc175;
}

/* Status */
.msg {
color: #4dbf9a;
background: #e3ffe3 repeat-x 50% top;
margin: 1px;
padding: 2px;
border: 1px solid #cecece;
}

.err {
color: #fd4646;
background: #fff0f0 repeat-x 50% top;
margin: 1px;
padding: 2px;
border: 1px solid #ffd0d0;
}

.on {
color: #47a000;
}

.off {
color: #ff1d00;
}

/* Form */
.page {
color: #808080;
margin: 1px;
padding: 2px;
border: solid 1px #d9d9d9;
}

.quote {
margin: 4px 4px 4px 8px;
border-bottom: 1px solid #d9d9d9;
border-left: 4px solid #d9d9d9;
padding: 2px;
}

.disable {
background: #e4e4e3;
border: 1px solid #e3e3e3;
border-color: #aaa #999 #888;
margin: 0;
}

.screenshot {
margin: 0px 5px 5px 5px;
border: 1px solid #c2e3ec;
width: 83px;
height: 110px;
padding: 1px;
}

.input {
width: 145px;
height: 15px;
}

.textarea {
width: 145px;
height: 79px;
}

.line {
border-top: 1px dotted #cacaca;
font-size: xx-small;
margin: 3px 2px 2px 2px;
}

.line a:link, .line a:visited {
text-decoration: none;
}

.content {
margin: 1px;
font-size: 0px;
}

.content input {
margin: 1px;
}

.content a {
font-size: small;
margin: 1px;
padding: 2px;
border: 1px solid #e0e0e0;
border-bottom: 1px solid #fff;
color: #888
}

/* Table */
table.post {
width: 100%;
}

td.icon {
background: #ededed url(images/title.gif) repeat-x 50% top;
width: 15px;
height: 15px;
vertical-align: top;
text-align: center;
border: 1px solid #d9d9d9;
}

td.list1, td.list2 {
width: 10%;
padding: 2px;
text-align: center;
font-weight: bold;
vertical-align: top;
}

td.list1 {
border-left: 2px solid #008000;
background: #f2f2f2;
}

td.list2 {
border-left: 2px solid #ff0000;
background: #fbfbfb;
}

td.row1, td.row2 {
width: auto;
padding: 2px;
}

td.row1 {
background: #fbfbfb;
border-right: 2px solid #ff0000;
}

td.row2 {
background: #f2f2f2;
border-right: 2px solid #008000;
}

/** Copyright (c) 2012 Simplewap **/